{% extends 'subLayout.html.twig' %}

{% block title %}Selamat datang{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <div class="main-content">
            <div class="container-fluid">
                  <h3 class="page-title" style="color: white;" "font-family: test;"><center><b>TEST MBTI (MYER BRIGGS TYPE INDICATOR)</b></center></h3>
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" style="color: black; font-family: test;">
                                Myers-Briggs Type Indicator (MBTI) adalah psikotes yang dirancang untuk mengukur preferensi psikologis seseorang dalam melihat dunia dan membuat keputusan. MBTI didasari pada jenis dan preferensi kepribadian dari Carl Gustav Jung, yang menulis Psychological Types pada tahun 1921 MBTI dikembangkan oleh Isabel Briggs Myers pada sejak 1940. Psikotes ini dirancang untuk mengukur kecerdasan individu, bakat, dan tipe kepribadian seseorang. Tes ini juga dipakai untuk mengetahui karakter kepribadian karyawan perusahaan agar dapat ditempatkan pada bidang-bidang yang membuat potensi karyawan tersebut optimal.
                                <br>
                                Dalam Tes MBTI ini, ada 4 dimensi kecenderungan sifat dasar manusia:
                                <br>
                                1. Dimensi pemusatan perhatian: Introvert (I) vs. Ekstrovert (E)
                                <br>
                                2. Dimensi memahami informasi dari luar : Sensing (S) vs. Intuition (N)
                                <br>
                                3. Dimensi menarik kesimpulan & keputusan : Thinking (T) vs. Feeling (F)
                                <br>
                                4. Dimensi pola hidup : Judging (J) vs. Perceiving (P)
                            </div>
                        </div>
                        <br>
                        <br>
                        <h3 class="page-title" style="color: black;" "font-family: Short Stack;"><center><b>16 TIPE KEPRIBADIAN</b></center></h3>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div id="btn1" class="btn btn-primary btn-xs" style="font-family: test;"><b>ENFJ</b></div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn4" class="btn btn-primary btn-xs" style="font-family: test;">ENFP</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn2" class="btn btn-primary btn-xs"style="font-family: test;">ENTJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn3" class="btn btn-primary btn-xs"style="font-family: test;">ENTP</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div id="btn5" class="btn btn-primary btn-xs"style="font-family: test;">ESFJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn6" class="btn btn-primary btn-xs"style="font-family: test;">ESFP</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn7" class="btn btn-primary btn-xs"style="font-family: test;">ESTJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn8" class="btn btn-primary btn-xs"style="font-family: test;">ESTP</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div id="btn9" class="btn btn-primary btn-xs"style="font-family: test;">INFJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn10" class="btn btn-primary btn-xs"style="font-family: test;">INFP</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn11" class="btn btn-primary btn-xs"style="font-family: test;">INTJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn12" class="btn btn-primary btn-xs"style="font-family: test;">INTP</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div id="btn13" class="btn btn-primary btn-xs"style="font-family: test;">ISFJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn14" class="btn btn-primary btn-xs"style="font-family: test;">ISFP</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn15" class="btn btn-primary btn-xs"style="font-family: test;">ISTJ</div>
                                </div>
                                <div class="col-md-3">
                                    <div id="btn16" class="btn btn-primary btn-xs"style="font-family: test;">ISTP</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p id="test1" style="color: black; font-family: test;">

                                    DIKENAL SEBAGAI
                                    "The Givers" (Pemberi) & "Teacher" (Pengajar)
                                    <br>
                                    <br>
                                    PENJELASAN SINGKAT :
                                    <br>
                                    Bersifat hangat, berempati, pendengar yang baik, dan bertanggung jawab. Sangat menyesuaikan diri dengan emosi, kebutuhan, dan motivasi dari orang lain. Mereka melihat potensi pada setiap orang, dan ingin membantu mereka untuk mencapai potensi mereka. Dapat bertindak sebagai pendorong untuk pertumbuhan individu dan kelompok. Loyal, mau mendengarkan pujian ataupun kritik. Suka bergaul, memudahkan orang lain dalam kelompok mereka, dan menghadirkan kepemimpinan yang bersemangat.
                                    <br>
                                    <br>
                                    CIRI-CIRI :
                                    <br>
                                    1. Kreatif, imajinatif, peka, sensitive, loyal.
                                    <br>
                                    2. Pada umumnya peduli pada apa kata orang atau apa yang orang lain inginkan dan cenderung melakukan sesuatu dengan memperhatikan perasaan orang lain.
                                    <br>
                                    3. Pandai bergaul, meyakinkan, ramah, fun, populer, simpatik. Responsif pada kritik dan pujian.
                                    <br>
                                    4. Menyukai variasi dan tantangan baru.
                                    <br>
                                    5. Butuh apresiasi dan penerimaan.
                                    <br>
                                    <br>
                                    SARAN PENGEMBANGAN :
                                    <br>
                                    1. Jangan mengorbankan diri hanya untuk menyenangkan orang lain.
                                    <br>
                                    2. Jangan mengukur harga diri Anda dari perlakuan orang lain. Jangan mudah kecewa jika mereka tidak seperti yang Anda inginkan.
                                    <br>
                                    3. Belajarlah untuk tegas dan mengambil keputusan. Menghadapi kritik dan konflik.
                                    <br>
                                    4. Jangan terlalu bersikap keras terhadap diri sendiri.
                                    <br>
                                    <br>
                                    PROFESI YANG COCOK :
                                    <br>
                                    Konsultan, Psikolog, Konselor, Pengajar, Marketing, HRD, Event Coordinator, Entertainer, Penulis, Motivator
                                    <br>
                                    <br>
                                    PARTNER ALAMI :
                                    <br>
                                    INFP atau ISFP
                                </p>
                                    <p id="test2" style="color: black; font-family: test;">
                                        DIKENAL SEBAGAI
                                        "The Executives" (Pelaksana) & "Fieldmarshal" (Panglima)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Berterus terang, menentukan, siap memikul kepemimpinan. Dengan mudah melihat prosedur atau kebijakan yang tidak efisien dan tidak logis, mampu mengembangkan dan mengimplementasikan sistem yang luas untuk menyelesaikan masalah-masalah organisasi. Menyukai rencana jangka panjang, dan penetappan tujuan. Biasanya berpengetahuan luas, pembaca yang baik, senang mengembangkan pengetahuan mereka dan menyampaikannya kepada orang lain. Terkadang memaksa dalam menyajikan ide-ide mereka.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Tegas, asertif, to the point, jujur terus terang, obyektif, kritis, & punya standard tinggi.
                                        <br>
                                        2. Dominan, kuat kemauannya, perfeksionis dan kompetitif.
                                        <br>
                                        3. Tangguh, disiplin, dan sangat menghargai komitmen.
                                        <br>
                                        4. Cenderung menutupi perasaan dan menyembunyikan kelemahan.
                                        <br>
                                        5. Berkarisma, komunikasi baik, mampu menggerakkan orang.
                                        <br>
                                        6. Berbakat pemimpin.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah untuk relaks. Tidak perlu perfeksionis dan selalu kompetitif dengan semua orang.
                                        <br>
                                        2. Ungkapkan perasaan Anda. Menyatakan perasaan bukanlah kelemahan.
                                        <br>
                                        3. Belajarlah mengelola emosi Anda. Jangan mudah marah.
                                        <br>
                                        4. Belajarlah untuk menghargai dan mengapresiasi orang lain.
                                        <br>
                                        5. Jangan terlalu arogan dan menganggap remeh orang lain. Lihat sisi positifnya. Jangan hanya melihat benar dan salah saja.Berkarisma, komunikasi baik, mampu menggerakkan orang.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Entrepreneur, Pengacara, Hakim, Konsultan, Pemimpin Organisasi, Business analyst, Bidang Finansial
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        INTP atau ISTP
                                    </p>
                                    <p id="test3" style="color: black; font-family: test;">
                                        DIKENAL SEBAGAI
                                        "The Visionaries" (Visioner) & "Inventor" (Penemu)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Cepat, berbakat, pendorong, siaga, and blak-blakan. Sanggup untuk memecahkan masalah yang menantang. Dapat menganalisa kemungkinan secara strategis. Mampu membaca orang lain. Jenuh dengan rutinitas, tidak tertarik melakukan hal yg sama berulang-ulang, lalu mencoba hal yang menarik minatnya. Good at reading other people.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Gesit, kreatif, inovatif, cerdik, logis, baik dalam banyak hal.
                                        <br>
                                        2. Banyak bicara dan punya kemampuan debat yang baik. Bisa berargumentasi untuk senang-senang saja tanpa merasa bersalah.
                                        <br>
                                        3. Fleksibel. Punya banyak cara untuk memecahkan masalah dan tantangan.
                                        <br>
                                        4. Kurang konsisten. Cenderung untuk melakukan hal baru yang menarik hati setelah melakukan sesuatu yang lain.
                                        <br>
                                        5. Punya keinginan kuat untuk mengembangkan diri.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Cobalah untuk win-win solution. Jangan ingin menang sendiri.
                                        <br>
                                        2. Belajarlah untuk disiplin dan konsisten.
                                        <br>
                                        3. Hindari perdebatan tidak penting.
                                        <br>
                                        4. Belajarlah untuk sedikit waspada. Seimbangkan cara pandang Anda agar tidak terlalu optimis dan mengambil resiko yang tidak realistis.
                                        <br>
                                        5. Belajarlah untuk memberi perhatian pada perasaan orang lain.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Pengacara, Psikolog, Konsultan, Ilmuwan, Aktor,Marketing, Programmer, Fotografer
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        INFJ atau INTJ

                                    </p>
                                    <p id="test4" style="color: black; font-family: test;">
                                        DIKENAL SEBAGAI
                                        "The Inspirers" (Penjiwa) & "Champion" (Juara)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Sosok hangat yang memiliki ansuiasme dan imaginatif. Melihat kehidupan sebagai sesuatu yang penuh kemungkinan. Mampu memahami hubungan antara kejadian dan informasi dengan sangat mudah, dan percaya diri melakukan sesuatu berdasarkan pola yang mereka lihat. Menginginkan banyak pengakuan dari orang lain, dan siap memberikan apresiasi dan dukungan. Spontan dan fleksibel, seringkali mengandalkan kemampuan mereka dalam berimprovisasi dan kefasihan lisan mereka.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Ramah, hangat, enerjik, optimis, antusias, semangat tinggi, fun.
                                        <br>
                                        2. Imaginatif, penuh ide, kreatif, inovatif.
                                        <br>
                                        3. Pandai berkomunikasi, senang bersosialisasi & membawa suasana positif.
                                        <br>
                                        4. Mudah membaca perasaan dan kebutuhan orang lain.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah untuk fokus, disiplin, tegas dan konsisten
                                        <br>
                                        2. Belajarlah untuk menghadapi konflik dan kritik 
                                        <br>
                                        3. Pikirkan kebutuhan diri sendiri. 
                                        <br>
                                        Jangan melupakannya karena terlalu peduli pada kebutuhan orang lain
                                        <br>
                                        4. Jangan terlaku boros. Belajarlah untuk mengelola keuangan sedikit demi sedikit. 
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK : 
                                        <br>
                                        Konselor, Psikolog, Entertainer, Pengajar, Motivator, Presenter, Reporter, MC, Seniman, Hospitality.

                                    </p>
                                    <p id="test5" style="color: black; font-family: test;">
                                        DIKENAL SEBAGAI
                                        "The Caregivers" (Pengasuh) & "Provider" (Pemberi)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Bersahabat, bersungguh-sungguh, dan dapat bekerja sama. Menginginkan keharmonisan dalam lingkungan mereka, mereka bekerja dengan kebulatan tekad. Senang bekerja dengan orang lain untuk menyelesaikan tugas-tugas dengan teliti, dan tepat waktu. Loyal, melaksanakan tugas hingga hal-hal kecil sekalipun. Memperhatikan apa yang menjadi kebutuhan orang lain dalam keseharian mereka dan, mencoba untuk memenuhi itu semua. Ingin dihargai untuk siapa diri mereka dan segala kontribusi mereka.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1.Hangat, banyak bicara, populer, dilahirkan untuk bekerjasama, suportif dan anggota kelompok yang aktif.
                                        <br>
                                        2. Membutuhkan keseimbangan dan baik dalam menciptakan harmoni.
                                        <br>
                                        3. Selalu melakukan sesuatu yang manis bagi orang lain. Kerja dengan baik dalam situasi yang mendukung dan memujinya.
                                        <br>
                                        4. Santai, easy going, sederhana, tidak berfikir panjang.
                                        <br>
                                        5. Teliti dan rajin merawat apa yang ia miliki.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Jangan mengorbankan diri hanya untuk menyenangkan orang lain.
                                        <br>
                                        2. Jangan mengukur harga diri Anda dari perlakuan, penghargaan dan pujian orang lain.
                                        <br>
                                        3. Mintalah pertimbangan orang lain dalam mengambil keputusan. Belajarlah untuk lebih tegas.
                                        <br>
                                        4. Terima tanggungjawab hidup dan belajarlah untuk lebih dewasa. Jangan mengasihani diri sendiri.
                                        <br>
                                        5. Hadapi kritik dan konflik, jangan lari.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        <br>
                                        Perencana Keuangan, Perawat, Guru, Bidang anak-anak, Konselor, Administratif, Hospitality
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ISFP atau INFP

                                    </p>
                                    <p id="test6" style="color: black;" font-family: test;>
                                        DIKENAL SEBAGAI
                                        "The Performers" (Pemain) & "Performer" (Pemain)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Ramah, bersahabat, dan menerima. Sosok yang mencintai kehidupan, orang, dan kenyamanan materi. Senang bekerja dengan orang lain dalam menyelesaikan sesuatu. menggunakan akal sehat dan pendekatan realistis dalam pekerjaan, dan menjadikan pekerjaan sebagai sebuah kesenangan. Fleksibel dan spontan, beradaptasi dengan mudah ke orang-orang dan lingkungan baru . Cara belajar terbaik mereka adalah dengan mencoba keterampilan baru bersama orang lain.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Outgoing, easygoing, mudah berteman, bersahabat, sangat sosial, ramah, hangat, & menyenangkan.
                                        <br>
                                        2. Optimis, ceria, antusias, fun, menghibur, suka menjadi perhatian.
                                        <br>
                                        3. Punya interpersonal skill yang baik, murah hati, mudah simpatik dan mengenali perasaan orang lain. Menghindari konflik dan menjaga keharmonisan suatu hubungan.
                                        <br>
                                        4. Mengetahui apa yang terjadi di sekelilingnya dan ikut serta dalam kegiatan tersebut.
                                        <br>
                                        5. Sangat baik dalam keadaan yang membutuhkan common sense, tindakan cepat dan ketrampilan praktis.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN : 
                                        <br>
                                        1. Jangan terburu-buru dalam mengambil keputusan. Belajarlah untuk fokus dan tidak mudah berubah-ubah terutama untuk hal yang penting.
                                        <br>
                                        2. Jangan menyenangkan semua orang. Begitu pula sebaliknya, tidak semua orang bisa menyenangkan Anda.
                                        <br>
                                        3. Belajarlah menghadapi kritik dan konflik. Jangan lari.
                                        <br>
                                        4. Anda punya kecenderungan meterialistis. Hati-hati, tidak semua hal bisa diukur dengan materi ataupun uang.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Entertainer, Seniman, Marketing, Konselor, Designer, Tour Guide, Bidang Anak-anak, Bidang Hospitality
                                        <br>
                                        <br>
                                        PARTNER ALAMI : 
                                        <br>
                                        ISTJ atau ISFJ

                                    </p>
                                    <p id="test7" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Guardians" (Pelindung) & "Supervisor" (Pengawas)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Praktis, realistis, berpegang pada fakta. Tegas, dengan cepat mengimplementasikan keputusan. Untuk menyelesaikan sesuatu mereka mampu mengatur pekerjaan, dan orang lain, terfokus untuk mendapatkan hasil dengan cara yang memungkinkan dan paling efisien. Selalu menjaga detail rutinitas. Memiliki standart logika yang jelas, yang secara sistematis menuntun mereka, dan mereka ingin orang-oranglain juga menggunakan standart logika itu. Terkadang memaksa agar rencana mereka dapat terimplementasikan.
                                        <br>
                                        <br>
                                        CIRI-CIRI : 
                                        <br>
                                        1. Praktis, realistis, berpegang pada fakta, dengan dorongan alamiah untuk bisnis dan mekanistis.
                                        <br>
                                        2. Sangat sistematis, procedural dan terencana.
                                        <br>
                                        3. Disiplin, on time dan pekerja keras.
                                        <br>
                                        4. Konservatif dan cenderung kaku.
                                        <br>
                                        5. Tidak tertarik pada subject yang tidak berguna baginya, tapi dapat menyesuaikan diri jika diperlukan.
                                        <br>
                                        6. Senang mengorganisir sesuatu. Bisa menjadi administrator yang baik jika mereka ingat untuk memperhatikan perasaan dan perspektif orang lain.
                                        <br>
                                        <br> 
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Kurangi keinginan untuk mengontrol dan memaksa orang lain.
                                        <br>
                                        2. Belajarlah untuk mengontrol emosi dan amarah Anda.
                                        <br>
                                        3. Cobalah untuk introspeksi diri dan meluangkan waktu sejenak untuk merenung.
                                        <br>
                                        4. Belajarlah untuk lebih sabar dan low profile
                                        <br>
                                        5. Belajarlah untuk memahami orang lain.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Militer, Manajer, Polisi, Hakim, Pengacara, Guru, Sales, Auditor, Akuntan, System Analyst
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ISTP atau INTP

                                    </p>
                                    <p id="test8" style="color: black; font-family: test" >
                                        DIKENAL SEBAGAI
                                        "The Doers" (Pelaku) & "Promoter" (Promotor)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Fleksibel dan Toleran, mereka mengambil pendekatan praktis yang berfokus pada hasil yang langsung. Teori dan penjelasan konseptual membosankan bagi mereka ? mereka biasanya bertindak energik untuk memecahkan masalah. Berfokus pada dimana mereka saat ini, dan sekarang, bersifat sponta, menikmati saat-saat dimana mereka bisa aktif berinteraksi dengan orang lain. Menikmati kenyamanan material dan gaya. Mereka belajar sangat baik belajar dengan melakukan sesuatu.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Spontan, Aktif, Enerjik, Cekatan, Cepat, Sigap, Antusias, Fun dan penuh variasi.
                                        <br>
                                        2. Komunikator, asertif, to the point, ceplas-ceplos, berkarisma, punya interpersonal skill yang baik.
                                        <br>
                                        3. Baik dalam pemecahan masalah langsung di tempat. Mampu menghadapi masalah, konflik dan kritik. Tidak khawatir, menikmati apapun yang terjadi.
                                        <br>
                                        4. Cenderung untuk menyukai sesuatu yang mekanistis, kegiatan bersama dan olahraga.
                                        <br>
                                        5. Mudah beradaptasi, toleran, pada umumnya konservatif tentang nilai-nilai. Tidak suka penjelasan terlalu panjang. Paling baik dalam hal-hal nyata yang dapat dilakukan.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah memahami perasaan dan pemikiran orang lain terutama saat bicara dengan mereka.
                                        <br>
                                        2. Belajarlah untuk sabar, menikmati proses, tidak semua hal bisa dicapai dengan cepat.
                                        <br>
                                        3. Sesekali luangkan waktu untuk merenung dan merencanakan masa depan Anda.
                                        <br>
                                        4. Cobalah untuk mencatat pengamatan-pengamatan Anda termasuk detailnya.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Marketing, Sales, Polisi, Entrepreneur, Pialang Saham, Technical Support
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ISFJ atau ISTJ

                                    </p>
                                    <p id="test9" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Protectors" (Pelindung) & "Counselor" (Penasihat)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Pencari makna dan hubungannya dengan ide-ide, hubungan sosial, dan pekerjaan. Selalu ingin memahami tentang pola pikir orang lain, dan belajar tentang apa yang memotivasi seseorang dalam kehidupan. Seorang yang bersungguh-sungguh dan berkomitmen dengan apa yang mereka kerjakan. Memiliki misi yang jelas tentang bagaimana cara terbaik untuk melayani kepentingan umum. Terorganisir dan Tegas dalam melaksanakan visi mereka.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        1. Perhatian, empati, sensitif & berkomitmen terhadap sebuah hubungan.
                                        <br>
                                        2. Sukses karena ketekunan, originalitas dan keinginan kuat untuk melakukan apa saja yang diperlukan termasuk memberikan yg terbaik dalam pekerjaan.
                                        <br>
                                        3. Idealis, perfeksionis, memegang teguh prinsip.
                                        <br>
                                        4. Visioner, penuh ide, kreatif, suka merenung dan inspiring.
                                        <br>
                                        5. Biasanya diikuti dan dihormati karena kejelasan visi serta dedikasi pada hal-hal baik.
                                        <br>
                                        <br> 
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Seimbangkan cara pandang Anda. Jangan hanya melihat sisi negatif & resiko. Namun, lihatlah sisi positif dan peluangnya.
                                        <br>
                                        2. Bersabarlah, jangan mudah marah dan menyalahkan orang lain atau situasi.
                                        <br>
                                        3. Rileks dan jangan terus menerus berfikir atau menyelesaikan tanggungjawab.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Pengajar, Psikolog, Dokter, Konselor, Pekerja Sosial, Fotografer, Seniman, Designer, Child Care.
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ESFP atau ESTP

                                    </p>
                                    <p id="test10" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Idealist" (Idealis) & "Healer" (Penyembuh)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Idealis, setia kepada prinsip yang mereka genggam serta orang-orang yang penting bagi mereka. Ingin kehidupan yang selaras dengan prinsip yang mereka genggam. Ingin tahu, mudah untuk melihat kemungkinan, bisa menjadi pemicu untuk memulai mewujudkan ide-ide. Berusaha untuk memahami orang lain, dan membantu mereka untuk mencapai potensi mereka. Mudah beradaptasi, fleksibel, dan mudah menerima, kecuali jika itu bertentangan dengan prinsip-prinsip mereka.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Sangat perhatian dan peka dengan perasaan orang lain.
                                        <br>
                                        2. Penuh dengan antusiasme dan kesetiaan, tapi biasanya hanya untuk orang dekat.
                                        <br>
                                        3. Peduli pada banyak hal. Cenderung mengambil terlalu banyak dan menyelesaikan sebagian.
                                        <br>
                                        4. Cenderung idealis dan perfeksionis.
                                        <br>
                                        5. Berpikir win-win solution, mempercayai dan mengoptimalkan orang lain.
                                        <br>
                                        <br> 
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah menghadapi kritik. Jika baik maka kritik itu bisa membangun Anda, namun jika tidak abaikan saja. Jangan ragu pula untuk bertanya dan minta saran.
                                        <br>
                                        2. Belajarlah untuk bersikap tegas. Jangan selalu berperasaan dan menyenangkan orang dengan tindakan baik. Bertindak baik itu berbeda dengan bertindak benar.
                                        <br>
                                        3. Jangan terlalu menyalahkan diri dan bersikap terlalu keras pada diri sendiri. Kegagalan adalah hal biasa dan semua orang pernah mengalaminya.
                                        <br> 
                                        4. Jangan terlalu baik pada orang lain tapi melupakan diri sendiri. Anda juga punya tanggungjawab untuk berbuat baik pada diri sendiri.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Penulis, Sastrawan, Konselor, Psikolog, Pengajar, Seniman, Rohaniawan, Bidang Hospitality
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ENFJ atau ESFJ

                                    </p>
                                    <p id="test11" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Scientists" (Ahli Keilmuan) & "Mastermind" (Pengatur)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Memiliki pemikiran yang orisinil dan motivasi yang kuat untuk menerapkan ide-ide mereka hingga mencapai tujuan. Cepat melihat pola dalam peristiwa yang terjadi disekitar mereka, dan mampu menyusun perspektif jangka panjang yang jelas. Bila hendak melakukan sesuatu, ia akan mengorganisir lalu segera melaksanakannya. Sering kali bersifat skeptis namun mandiri, memiliki standar kompetensi dan kinerja yang tinggi untuk diri mereka sendiri maupun orang lain.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Visioner, punya perencanaan praktis, & biasanya memiliki ide-ide original serta dorongan kuat untuk mencapainya.
                                        <br>
                                        2. Mandiri dan percaya diri.
                                        <br>
                                        3. Punya kemampuan analisa yang bagus serta menyederhanakan sesuatu yang rumit dan abstrak menjadi sesuatu yang praktis, mudah difahami & dipraktekkan.
                                        <br>
                                        4. Skeptis, kritis, logis, menentukan (determinatif) dan kadang keras kepala.
                                        <br>
                                        5. Punya keinginan untuk berkembang serta selalu ingin lebih maju dari orang lain.
                                        <br>
                                        6. Kritik & konflik tidak menjadi masalah berarti.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah mengungkapkan emosi & perasaan Anda.
                                        <br>
                                        2. Cobalah untuk lebih terbuka pada dunia luar, banyak bergaul, banyak belajar, banyak membaca, mengunjungi banyak tempat, eksplorasi hal baru, & memperluas wawasan.
                                        <br>
                                        3. Hindari perdebatan tidak penting.
                                        <br>
                                        4. Belajarlah untuk berempati, memberi perhatian dan lebih peka terhadap orang lain.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Peneliti, Ilmuwan, Insinyur, Teknisi, Pengajar, Profesor, Dokter, Research & Development, Business Analyst, System Analyst, Pengacara, Hakim, Programmers, Posisi Strategis dalam organisasi.
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ENFP atau ENTP

                                    </p>
                                    <p id="test12" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Thinkers" (Pemikir) & "Architect" (Arsitek)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Berusaha membangun penjelasan yang masuk akal untuk segala sesuatu yang menarik bagi mereka. Teoritis dan abstrak, lebih tertarik pada ide-ide daripada interaksi sosial. Tenang, cerdas, fleksibel, dan mudah beradaptasi. Memiliki kemampuan yang tidak biasa untuk fokus dan mendalami pemecahan masalah pada bidang yang menjadi minat mereka. Skeptis, terkadang kritis, dan selalu analitis.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Sangat menghargai intelektualitas dan pengetahuan. Menikmati hal-hal teoritis dan ilmiah. Senang memecahkan masalah dengan logika dan analisa.
                                        <br>
                                        2. Diam dan menahan diri. Lebih suka bekerja sendiri.
                                        <br>
                                        3. Cenderung kritis, skeptis, mudah curiga dan pesimis.
                                        <br>
                                        4. Tidak suka memimpin dan bisa menjadi pengikut yang tidak banyak menuntut.
                                        <br>
                                        5. Cenderung memiliki minat yang jelas. Membutuhkan karir dimana minatnya bisa berkembang dan bermanfaat. Jika menemukan sesuatu yang menarik minatnya, ia akan sangat serius dan antusias menekuninya.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        Belajarlah membangun hubungan dengan orang lain. Belajar berempati, mendengar aktif, memberi perhatian dan bertukar pendapat.
                                        Relaks. Jangan terlalu banyak berfikir. Nikmati hidup Anda tanpa harus bertanya mengapa dan bagaimana.
                                        Cobalah menemukan satu ide, merencanakan dan mewujudkannya. Jangan terlalu sering berganti-ganti ide tetapi tidak satupun yang terwujud.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Ilmuwan, Fotografer, Programmer, Ahli komputer, System Analyst, Penulis Buku Teknis, Ahli Forensik, Jaksa, Pengacara, Teknisi
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ENTJ atau ESTJ

                                    </p>
                                    <p id="test13" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Nurturers" (Pengasuh) & "Protector" (Pelindung)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Tenang, ramah, bertanggung jawab, dan teliti. Berkomitmen dan bersungguh-sungguh dalam memenuhi kewajibannya. Cermat, telaten, dan akurat. Loyal, baik hati, perhatian dan selalu mengingat secara spesifik tentang orang-orang yang penting bagi mereka, peduli dengan perasaan orang lain. Berupaya untuk menciptakan lingkungan yang tertib dan harmonis di tempat kerja maupun di rumah.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Penuh pertimbangan, hati-hati, teliti dan akurat.
                                        <br>
                                        2. Serius, tenang, stabil namun sensitif.
                                        <br>
                                        3. Ramah, perhatian pada perasaan & kebutuhan orang lain, setia, kooperatif, pendengar yang baik.
                                        <br>
                                        4. Punya kemampuan mengorganisasi, detail, teliti, sangat bertanggungjawab & bisa diandalkan.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Lihat lebih dalam, lebih antusias, & lebih semangat.
                                        <br>
                                        2. Belajarlah mengatakan ?tidak?. Jangan menyenangkan semua orang atau Anda dianggap plin plan.
                                        <br>
                                        3. Jangan terjebak zona nyaman dan rutinitas. Cobalah hal baru. Ada banyak hal menyenangkan yang mungkin belum pernah Anda coba.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Architect, Interior Designer, Perawat, Administratif, Designer, Child Care, Konselor, Back Office Manager, Penjaga Toko / Perpustakaan, Dunia Perhotelan.
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ESFP atau ESTP

                                    </p>
                                    <p id="test14" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Artist" (Seniman) & "Composer" (Pengarang)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Tenang, ramah, sensitif, dan baik hati. Menikmati apa yang sedang terjadi saat ini, apa yang terjadi di sekitar mereka. Ingin memiliki ruang mereka sendiri dan bekerja dalam rentang waktu mereka sendiri. Loyal dan berkomitmen untuk prinsip yang mereka genggam serta orang-orang yang penting bagi mereka. Tidak menyukai perselisihan dan konflik, tidak memaksakan pendapat atau prinsip mereka pada orang lain.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Berpikiran simpel & praktis, fleksibel, sensitif, ramah, tidak menonjolkan diri, rendah hati pada kemampuannya.
                                        <br>
                                        2. Menghindari konflik, tidak memaksakan pendapat atau nilai-nilainya pada orang lain.
                                        <br>
                                        3. Biasanya tidak mau memimpin tetapi menjadi pengikut dan pelaksana yang setia.
                                        <br>
                                        4. Seringkali santai menyelesaikan sesuatu, karena sangat menikmati apa yang terjadi saat ini.
                                        <br>
                                        5. Menunjukkan perhatian lebih banyak melalui tindakan dibandingkan kata-kata.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Jangan takut pada penolakan dan konflik. Anda tidak perlu menyenangkan semua orang.
                                        <br>
                                        2. Cobalah untuk mulai memikirkan dampak jangka panjang dari keputusan-keputusan kecil di hari ini.
                                        <br>
                                        3. Asah dan kembangkan sisi kreatifitas dan seni dalam diri Anda sebagai modal bagus dalam diri Anda.
                                        <br>
                                        4. Cobalah untuk lebih terbuka dan mengekspresikan perasaan Anda.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Seniman, Designer, Pekerja Sosial, Konselor, Psikolog, Guru, Aktor, Bidang Hospitality
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ESFJ atau ENFJ

                                    </p>
                                    <p id="test15" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Duty Fulfillers" (Pekerja Keras) & "Inspector" (Pengawas)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Tenang, serius, meraih kesuksesannya dengan ketelitian dan kehandalannya dalam bekerja. Praktis, orienatsi pada fakta, realistis, dan bertanggung jawab. Memutuskan apa yang harus dilakukan dengan logis, dan bekerja dengan tekun pada satu hal, tanpa mempedulikan gangguan. Mereka merasa senang dengan segala sesuatu yang tertib dan teratur pada pekerjaan mereka, rumah mereka, dan kehidupan mereka. Memegang nilai-nilai tradisi dan loyalitas.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Serius, tenang, stabil & damai.
                                        <br>
                                        2. Senang pada fakta, logis, obyektif, praktis & realistis.
                                        <br>
                                        3. Task oriented, tekun, teratur, menepati janji, dapat diandalkan & bertanggung jawab.
                                        <br>
                                        4. Pendengar yang baik, setia, hanya mau berbagi dengan orang dekat.
                                        <br>
                                        5. Memegang aturan, standar & prosedur dengan teguh.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Belajarlah memahami perasaan & kebutuhan orang lain.
                                        <br>
                                        2. Kurangi keinginan untuk mengontrol orang lain atau memerintah mereka untuk menegakkan aturan.
                                        <br>
                                        3. Lihatlah lebih banyak sisi positif pada orang lain atau hal lainnya.
                                        <br>
                                        4. Terbukalah terhadap perubahan.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK : 
                                        <br>
                                        Bidang Manajemen, Polisi, Intelijen, Hakim, Pengacara, Dokter, Akuntan (Staf Keuangan), Programmer atau yang berhubungan dengan IT, System Analys, Pemimpin Militer
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ESFP atau ESTP

                                    </p>
                                    <p id="test16" style="color: black; font-family: test">
                                        DIKENAL SEBAGAI
                                        "The Mechanics" (Mekanik) & "Crafter" (Pengrajin)
                                        <br>
                                        <br>
                                        PENJELASAN SINGKAT :
                                        <br>
                                        Bersikap toleran, dan fleksibel, pengamat yang tenang sampai masalah tampak, kemudian bertindak cepat untuk menemukan solusi yang terbaik. Menganalisis apa yang membuat sesuatu bekerja, dan mampu dengan segera menemukan berbagai data untuk mengisolasi inti dari masalah. Tertarik dengan sebab dan akibat, mengolah fakta menggunakan prinsip masuk akal, dan efisien.
                                        <br>
                                        <br>
                                        CIRI-CIRI :
                                        <br>
                                        1. Tenang, pendiam, cenderung kaku, dingin, hati-hati, penuh pertimbangan.
                                        <br>
                                        2. Logis, rasional, kritis, obyektif, mampu mengesampingkan perasaan.
                                        <br>
                                        3. Mampu menghadapi perubahan mendadak dengan cepat dan tenang.
                                        <br>
                                        4. Percaya diri, tegas dan mampu menghadapi perbedaan maupun kritik.
                                        <br>
                                        5. Mampu menganalisa, mengorganisir, & mendelegasikan.
                                        <br>
                                        6. Problem solver yang baik terutama untuk masalah teknis & keadaan mendadak.
                                        <br>
                                        <br>
                                        SARAN PENGEMBANGAN :
                                        <br>
                                        1. Observasilah kehidupan sosial, apa yang membuat orang marah, cinta, senang, termotivasi & terapkan pada hubungan Anda.
                                        <br> 
                                        2. Belajarlah untuk mengenali perasaan Anda dan mengekspresikannya.
                                        <br>
                                        3. Jadilah orang yang lebih terbuka, keluar dari zona nyaman, eksplorasi ide baru, dan berdiskusi dengan orang lain.
                                        <br>
                                        4. Jangan mencari-cari kesalahan orang hanya untuk menyelesaikan masalahnya.
                                        <br>
                                        5. Jangan menyimpan informasi yang harusnya dibagi dan belajarlah mempercayakan tanggungjawab pada orang lain.
                                        <br>
                                        <br>
                                        PROFESI YANG COCOK :
                                        <br>
                                        Polisi, Ahli Forensik, Programmer, Ahli Komputer, System Analyst, Teknisi, Insinyur, Mekanik, Pilot, Atlit, Entrepreneur
                                        <br>
                                        <br>
                                        PARTNER ALAMI :
                                        <br>
                                        ESTJ atau ENTJ

                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-headline">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="lnr lnr-user"></i></span>
                                    <p>
                                        <span class="number">{{ user }}</span>
                                        <span class="title">User</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block customJS %}
    <script>
        $(function () {
            $('p').hide();

            $('#btn1').click(function() {
                $('#test1').toggle();

                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();

            });

            $('#btn2').click(function() {
               $('#test2').toggle();

               $('#test1').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn3').click(function() {
               $('#test3').toggle();

               $('#test1').hide();
                $('#test2').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn4').click(function() {
                $('#test4').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn5').click(function() {
                $('#test5').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn6').click(function() {
                $('#test6').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn7').click(function() {
                $('#test7').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn8').click(function() {
                $('#test8').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn9').click(function() {
                $('#test9').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn10').click(function() {
                $('#test10').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn11').click(function() {
                $('#test11').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn12').click(function() {
                $('#test12').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn13').click(function() {
                $('#test13').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test14').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn14').click(function() {
                $('#test14').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test15').hide();
                $('#test16').hide();
            });

            $('#btn15').click(function() {
                $('#test15').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test16').hide();
            });

            $('#btn16').click(function() {
                $('#test16').toggle();

                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
                $('#test4').hide();
                $('#test5').hide();
                $('#test6').hide();
                $('#test7').hide();
                $('#test8').hide();
                $('#test9').hide();
                $('#test10').hide();
                $('#test11').hide();
                $('#test12').hide();
                $('#test13').hide();
                $('#test14').hide();
                $('#test15').hide();
            });

        })
    </script>
{% endblock %}