<!DOCTYPE html>
<html>
<head></head>
<body>
<p>hai , {{ username }}</p>
<p>klik link berikut untuk reset kata sandi anda: <a href="{{ host }}:8000/reset/{{ token }}">Reset Password</a></p>
<p>Terima Kasih</p>
</body>
</html>