{% extends 'subLayout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
                <div class="clearfix">
                    <!-- LEFT COLUMN -->
                    <div class="profile-left col-md-2 col-md-offset-4">
                        <!-- PROFILE HEADER -->
                        <div class="profile-header">
                            <div class="overlay"></div>
                            <div class="profile-main">
                                <img src="{{ asset('backend') }}/img/user-medium.png" class="img-circle" alt="Avatar">
                                <h3 class="name">Samuel Gold</h3>
                            </div>
                        </div>
                        <!-- END PROFILE HEADER -->
                        <!-- PROFILE DETAIL -->
                        <div class="profile-detail">
                            <div class="profile-info">
                                <h4 class="heading">Basic Info</h4>
                                <ul class="list-unstyled list-justify">
                                    <li>Birthdate <span>24 Aug, 2016</span></li>
                                    <li>Mobile <span>(124) 823409234</span></li>
                                    <li>Email <span>samuel@mydomain.com</span></li>
                                    <li>Website <span><a href="https://www.themeineed.com">www.themeineed.com</a></span></li>
                                </ul>
                            </div>
                            <div class="profile-info">
                                <h4 class="heading">About</h4>
                                <p>Interactively fashion excellent information after distinctive outsourcing.</p>
                            </div>
                            <div class="text-center"><a href="#" class="btn btn-primary">Edit Profile</a></div>
                        </div>
                        <!-- END PROFILE DETAIL -->
                    </div>
                    <!-- END LEFT COLUMN -->
                    <!-- RIGHT COLUMN -->

                    <!-- END RIGHT COLUMN -->
                </div>

        </div>
    </div
{% endblock %}