 {% extends 'subLayout.html.twig' %}

 {% block title %}Hasil Kepribadian{% endblock %}

 {% block customCSS %}
        <style>
            .center{
                text-align: center;
            }
        </style>
 {% endblock %}

 {% block content %}
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title"><center>Hasil Kepribadian</center></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th class="center">Pertanyaan A</th>
                                            <th colspan="2" class="center">Isian</th>
                                            <th class="center">Pertanyaan B</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Spontan, Fleksibel, tidak diikat waktu</td>
                                            {% if kepribadian[0] is defined %}
                                                {% if kepribadian[0] == 0 %}
                                                 <td><i class="fa fa-check"></i></td>
                                                 <td></td>
                                                {% else %}
                                                  <td></td>
                                                  <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                             <td></td>
                                             <td></td>
                                            {% endif %}
                                            <td>Terencana dan memiliki deadline jelas</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Lebih memilih berkomunikasi dengan menulis</td>
                                            {% if kepribadian[1] is defined %}
                                                {% if kepribadian[1] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Lebih memilih berkomunikasi dengan bicara</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Tidak menyukai hal-hal yang bersifat mendadak dan di luar perencanaan</td>
                                            {% if kepribadian[2] is defined %}
                                                {% if kepribadian[2] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Perubahan mendadak tidak jadi masalah</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Obyektif</td>
                                            {% if kepribadian[3] is defined %}
                                                {% if kepribadian[3] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Subyektif</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Menemukan dan mengembangkan ide dengan mendiskusikannya</td>
                                            {% if kepribadian[4] is defined %}
                                                {% if kepribadian[4] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menemukan dan mengembangkan ide dengan merenungkan</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Bergerak dari gambaran umum baru ke detail</td>
                                            {% if kepribadian[5] is defined %}
                                                {% if kepribadian[5] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Bergerak dari detail ke gambaran umum sebagai kesimpulan akhir</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Berorientasi pada dunia eksternal (kegiatan, orang)</td>
                                            {% if kepribadian[6] is defined %}
                                                {% if kepribadian[6] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berorientasi pada dunia internal (memori, pemikiran, ide)</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Berbicara mengenai masalah yang dihadapi hari ini dan langkah-langkah praktis mengatasinya</td>
                                            {% if kepribadian[7] is defined %}
                                                {% if kepribadian[7] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berbicara mengenai visi masa depan dan konsep-konsep mengenai visi tersebut</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Diyakinkan dengan penjelasan yang menyentuh perasaan</td>
                                            {% if kepribadian[8] is defined %}
                                                {% if kepribadian[8] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Diyakinkan dengan penjelasan yang masuk akal</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Fokus pada sedikit hobi namun mendalam</td>
                                            {% if kepribadian[9] is defined %}
                                                {% if kepribadian[9] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Fokus pada banyak hobi secara luas dan umum</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Tertutup dan mandiri</td>
                                            {% if kepribadian[10] is defined %}
                                                {% if kepribadian[10] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Sosial dan ekspresif</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Aturan, jadwal dan target sangat mengikat dan membebani</td>
                                            {% if kepribadian[11] is defined %}
                                                {% if kepribadian[11] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Aturan, jadwal dan target akan sangat membantu dan memperjelas tindakan</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>Menggunakan pengalaman sebagai pedoman</td>
                                            {% if kepribadian[12] is defined %}
                                                {% if kepribadian[12] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menggunakan imajinasi dan perenungan sebagai pedoman</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Berorientasi tugas dan job description</td>
                                            {% if kepribadian[13] is defined %}
                                                {% if kepribadian[13] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berorientasi pada manusia dan hubungan</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>Pertemuan dengan orang lain dan aktivitas sosial melelahkan</td>
                                            {% if kepribadian[14] is defined %}
                                                {% if kepribadian[14] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Bertemu orang dan aktivitas sosial membuat bersemangat</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>SOP sangat membantu</td>
                                            {% if kepribadian[15] is defined %}
                                                {% if kepribadian[15] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>SOP sangat membosankan</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>Mengambil keputusan berdasar logika dan aturan main</td>
                                            {% if kepribadian[16] is defined %}
                                                {% if kepribadian[16] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mengambil keputusan berdasar perasaan pribadi dan kondisi orang lain</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>Bebas dan dinamis</td>
                                            {% if kepribadian[17] is defined %}
                                                {% if kepribadian[17] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Prosedural dan tradisional</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>Berorientasi pada hasil</td>
                                            {% if kepribadian[18] is defined %}
                                                {% if kepribadian[18] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berorientasi pada proses</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>Beraktifitas sendirian di rumah menyenangkan</td>
                                            {% if kepribadian[19] is defined %}
                                                {% if kepribadian[19] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Beraktifitas sendirian di rumah membosankan</td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>Membiarkan orang lain bertindak bebas asalkan tujuan tercapai</td>
                                            {% if kepribadian[20] is defined %}
                                                {% if kepribadian[20] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mengatur orang lain dengan tata tertib agar tujuan tercapai</td>
                                        </tr>
                                        <tr>
                                            <td>22</td>
                                            <td>Memilih ide inspiratif lebih penting daripada fakta</td>
                                            {% if kepribadian[21] is defined %}
                                                {% if kepribadian[21] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Memilih fakta lebih penting daripada ide inspiratif</td>
                                        </tr>
                                        <tr>
                                            <td>23</td>
                                            <td>Mengemukakan tujuan dan sasaran lebih dahulu</td>
                                            {% if kepribadian[22] is defined %}
                                                {% if kepribadian[22] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mengemukakan kesepakatan terlebih dahulu</td>
                                        </tr>
                                        <tr>
                                            <td>24</td>
                                            <td>Fokus pada target dan mengabaikan hal-hal baru</td>
                                            {% if kepribadian[23] is defined %}
                                                {% if kepribadian[23] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Memperhatikan hal-hal baru dan siap menyesuaikan diri serta mengubah target</td>
                                        </tr>
                                        <tr>
                                            <td>25</td>
                                            <td>Kontinuitas dan stabilitas lebih diutamakan</td>
                                            {% if kepribadian[24] is defined %}
                                                {% if kepribadian[24] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Perubahan dan variasi lebih diutamakan</td>
                                        </tr>
                                        <tr>
                                            <td>26</td>
                                            <td>Pendirian masih bisa berubah tergantung situasi nantinya</td>
                                            {% if kepribadian[25] is defined %}
                                                {% if kepribadian[25] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berpegang teguh pada pendirian</td>
                                        </tr>
                                        <tr>
                                            <td>27</td>
                                            <td>Bertindak step by step dengan timeframe yang jelas</td>
                                            {% if kepribadian[26] is defined %}
                                                {% if kepribadian[26] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Bertindak dengan semangat tanpa menggunakan timeframe</td>
                                        </tr>
                                        <tr>
                                            <td>28</td>
                                            <td>Berinisiatif tinggi hampir dalam berbagai hal meskipun tidak berhubungan dengan dirinya</td>
                                            {% if kepribadian[27] is defined %}
                                                {% if kepribadian[27] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berinisiatif bila situasi memaksa atau berhubungan dengan kepentingan sendiri</td>
                                        </tr>
                                        <tr>
                                            <td>29</td>
                                            <td>Lebih memilih tempat yang tenang dan pribadi untuk berkonsentrasi</td>
                                            {% if kepribadian[28] is defined %}
                                                {% if kepribadian[28] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Lebih memilih tempat yang ramai dan banyak interaksi / aktifitas</td>
                                        </tr>
                                        <tr>
                                            <td>30</td>
                                            <td>Menganalisa</td>
                                            {% if kepribadian[29] is defined %}
                                                {% if kepribadian[29] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berempati</td>
                                        </tr>
                                        <tr>
                                            <td>31</td>
                                            <td>Berpikir secara matang sebelum bertindak</td>
                                            {% if kepribadian[30] is defined %}
                                                {% if kepribadian[30] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berani bertindak tanpa terlalu lama berfikir</td>
                                        </tr>
                                        <tr>
                                            <td>32</td>
                                            <td>Menghargai seseorang karena sifat dan perilakunya</td>
                                            {% if kepribadian[31] is defined %}
                                                {% if kepribadian[31] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menghargai seseorang karena skill dan faktor teknis</td>
                                        </tr>
                                        <tr>
                                            <td>33</td>
                                            <td>Merasa nyaman bila situasi tetap terbuka terhadap pilihan-pilihan lain</td>
                                            {% if kepribadian[32] is defined %}
                                                {% if kepribadian[32] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Merasa tenang bila semua sudah diputuskan</td>
                                        </tr>
                                        <tr>
                                            <td>34</td>
                                            <td>Menarik kesimpulan dengan lama dan hati-hati</td>
                                            {% if kepribadian[33] is defined %}
                                                {% if kepribadian[33] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>menarik kesimpulan dengan cepat sesuai naluri</td>
                                        </tr>
                                        <tr>
                                            <td>35</td>
                                            <td>Mengekspresikan semangat</td>
                                            {% if kepribadian[34] is defined %}
                                                {% if kepribadian[34] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menyimpan semangat dalam hati</td>
                                        </tr>
                                        <tr>
                                            <td>36</td>
                                            <td>Mengklarifikasi ide dan teori sebelum dipraktekkan</td>
                                            {% if kepribadian[35] is defined %}
                                                {% if kepribadian[35] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Memahami ide dan teori saat mempraktekkannya langsung</td>
                                        </tr>
                                        <tr>
                                            <td>37</td>
                                            <td>Melibatkan perasaan itu tidak profesional</td>
                                            {% if kepribadian[36] is defined %}
                                                {% if kepribadian[36] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Terlalu kaku pada peraturan dan pekerjaan itu kejam</td>
                                        </tr>
                                        <tr>
                                            <td>38</td>
                                            <td>Mencari kesempatan untuk berkomunikasi secara perorangan</td>
                                            {% if kepribadian[37] is defined %}
                                                {% if kepribadian[37] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Memilih berkomunikasi pada sekelompok orang</td>
                                        </tr>
                                        <tr>
                                            <td>39</td>
                                            <td>Yang penting situasi harmonis terjaga</td>
                                            {% if kepribadian[38] is defined %}
                                                {% if kepribadian[38] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Yang penting tujuan tercapai</td>
                                        </tr>
                                        <tr>
                                            <td>40</td>
                                            <td>Ketidakpastian itu seru, menegangkan dan membuat hati lebih senang</td>
                                            {% if kepribadian[39] is defined %}
                                                {% if kepribadian[39] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Ketidakpastian membuat bingung dan meresahkan</td>
                                        </tr>
                                        <tr>
                                            <td>41</td>
                                            <td>Berfokus pada masa kini (apa yang bisa diperbaiki sekarang)</td>
                                            {% if kepribadian[40] is defined %}
                                                {% if kepribadian[40] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berfokus pada masa depan (apa yang mungkin dicapai di masa depan)</td>
                                        </tr>
                                        <tr>
                                            <td>42</td>
                                            <td>Mempertanyakan</td>
                                            {% if kepribadian[41] is defined %}
                                                {% if kepribadian[41] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mengakomodasi</td>
                                        </tr>
                                        <tr>
                                            <td>43</td>
                                            <td>Secara konsisten mengamati dan mengingat detail</td>
                                            {% if kepribadian[42] is defined %}
                                                {% if kepribadian[42] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mengamati dan mengingat detail hanya bila berhubungan dengan pola</td>
                                        </tr>
                                        <tr>
                                            <td>44</td>
                                            <td>Situasi last minute membuat bersemangat dan memunculkan potensi</td>
                                            {% if kepribadian[43] is defined %}
                                                {% if kepribadian[43] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Situasi last minute sangat menyiksa, membuat stress dan merupakan kesalahan</td>
                                        </tr>
                                        <tr>
                                            <td>45</td>
                                            <td>Lebih suka komunikasi tidak langsung (telp, surat, e-mail)</td>
                                            {% if kepribadian[44] is defined %}
                                                {% if kepribadian[44] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Lebih suka komunikasi langsung (tatap muka)</td>
                                        </tr>
                                        <tr>
                                            <td>46</td>
                                            <td>Praktis</td>
                                            {% if kepribadian[45] is defined %}
                                                {% if kepribadian[45] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Konseptual</td>
                                        </tr>
                                        <tr>
                                            <td>47</td>
                                            <td>Perubahan adalah musuh</td>
                                            {% if kepribadian[46] is defined %}
                                                {% if kepribadian[46] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Perubahan adalah semangat hidup</td>
                                        </tr>
                                        <tr>
                                            <td>48</td>
                                            <td>Sering dianggap keras kepala</td>
                                            {% if kepribadian[47] is defined %}
                                                {% if kepribadian[47] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Sering dianggap terlalu memihak</td>
                                        </tr>
                                        <tr>
                                            <td>49</td>
                                            <td>Bersemangat saat menolong orang keluar dari kesalahan dan meluruskan</td>
                                            {% if kepribadian[48] is defined %}
                                                {% if kepribadian[48] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Bersemangat saat mengkritik dan menemukan kesalahan</td>
                                        </tr>
                                        <tr>
                                            <td>50</td>
                                            <td>Bertindak sesuai situasi dan kondisi yang terjadi saat itu</td>
                                            {% if kepribadian[49] is defined %}
                                                {% if kepribadian[49] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Bertindak sesuai apa yang sudah direncanakan</td>
                                        </tr>
                                        <tr>
                                            <td>51</td>
                                            <td>Menggunakan keterampilan yang sudah dikuasai</td>
                                            {% if kepribadian[50] is defined %}
                                                {% if kepribadian[50] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menyukai tantangan untuk menguasai keterampilan baru</td>
                                        </tr>
                                        <tr>
                                            <td>52</td>
                                            <td>Membangun ide pada saat berbicara</td>
                                            {% if kepribadian[51] is defined %}
                                                {% if kepribadian[51] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Membangun ide dengan matang baru membicarakannya</td>
                                        </tr>
                                        <tr>
                                            <td>53</td>
                                            <td>Memilih cara yang sudah ada dan sudah terbukti</td>
                                            {% if kepribadian[52] is defined %}
                                                {% if kepribadian[52] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Memilih cara yang unik dan belum dipraktekkan orang lain</td>
                                        </tr>
                                        <tr>
                                            <td>54</td>
                                            <td>Hidup harus sudah diatur dari awal</td>
                                            {% if kepribadian[53] is defined %}
                                                {% if kepribadian[53] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Hidup seharusnya mengalir sesuai kondisi</td>
                                        </tr>
                                        <tr>
                                            <td>55</td>
                                            <td>Standar harus ditegakkan di atas segalanya (itu menunjukkan kehormatan dan harga diri)</td>
                                            {% if kepribadian[54] is defined %}
                                                {% if kepribadian[54] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Perasaan manusia lebih penting dari sekadar standar (yang adalah benda mati)</td>
                                        </tr>
                                        <tr>
                                            <td>56</td>
                                            <td>Daftar dan checklist adalah panduan penting</td>
                                            {% if kepribadian[55] is defined %}
                                                {% if kepribadian[55] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Daftar dan checklist adalah tugas dan beban</td>
                                        </tr>
                                        <tr>
                                            <td>57</td>
                                            <td>Menuntut perlakuan yang adil dan sama pada semua orang</td>
                                            {% if kepribadian[56] is defined %}
                                                {% if kepribadian[56] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Menuntut perlakuan khusus sesuai karakteristik masing-masing orang</td>
                                        </tr>
                                        <tr>
                                            <td>58</td>
                                            <td>Mementingkan sebab-akibat</td>
                                            {% if kepribadian[57] is defined %}
                                                {% if kepribadian[57] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Mementingkan nilai-nilai personal</td>
                                        </tr>
                                        <tr>
                                            <td>59</td>
                                            <td>Puas ketika mampu beradaptasi dengan momentum yang terjadi</td>
                                            {% if kepribadian[58] is defined %}
                                                {% if kepribadian[58] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Puas ketika mampu menjalankan semuanya sesuai rencana</td>
                                        </tr>
                                        <tr>
                                            <td>60</td>
                                            <td>Spontan, Easy Going, fleksibel</td>
                                            {% if kepribadian[59] is defined %}
                                                {% if kepribadian[59] == 0 %}
                                                    <td><i class="fa fa-check"></i></td>
                                                    <td></td>
                                                {% else %}
                                                    <td></td>
                                                    <td><i class="fa fa-check"></i></td>
                                                {% endif %}
                                            {% else %}
                                                <td></td>
                                                <td></td>
                                            {% endif %}
                                            <td>Berhati-hati, penuh pertimbangan, kaku</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {#<div class="form-group">#}
                                        {#<input type="text" class="form-control" name="hasil" placeholder="isi hasil">#}
                                    {#</div>#}
                            </div>
                            <div class="panel-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th colspan="4"><center>DIMENSI</center></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Introvert (I)</td>
                                            <td>60%</td>
                                            <td>40%</td>
                                            <td>(E) Ekstrovert</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Sensing (S)</td>
                                            <td>13%</td>
                                            <td>87%</td>
                                            <td>(N) Intuition</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Thinking (T)</td>
                                            <td>87%</td>
                                            <td>13%</td>
                                            <td>(F) Feeling</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Judging (J)</td>
                                            <td>67%</td>
                                            <td>33%</td>
                                            <td>(P) Perceiving</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Tipe Kepribadian anda: I N T J</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {% endblock %}