{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title"><center>Daftar Pengguna</center></h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Pertanyaan A</th>
                                    <th>Isian</th>
                                    <th>Pertanyaan B</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Soal 1</td>
                                    <td>isian</td>
                                    <td>soal 2</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}